* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-image: url("https://images.unsplash.com/photo-1703631531141-c5bfe28c02e3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h2 {
  font-size: 25px;
}

.wel {
  font-size: 25px;
  font-weight: bolder;
  text-decoration: underline;
  text-align: center;
  font-size: 28px;
  color: #0e4526;
  margin-top: 20px;
}

.desc {
  font-weight: bold;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
  text-align: center;
}

.desc p {
  font-size: 16px;
  color: #333;
  line-height: 1.8;
}

.try {
  text-align: center;
  margin-top: 30px;
}

.try p {
  font-size: 18px;
  font-weight: bold;
  color: #1e90ff;
  margin-bottom: 10px;
}

.try input {
  color: blueviolet;
  padding: 8px;
  margin-bottom: 10px;
  width: 250px;
  border-radius: 15px;
}

.try button {
  padding: 10px 20px;
  background-color: #1e90ff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.or {
  color: azure;
  font-weight: bold;
}

.try button:hover {
  border-radius: 25px;
  background-color: #0464c4;
  transition: 1s;
}

footer {
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #fff;
}

@media (max-width: 767px) {
  header {
    height: 66px;
  }
  .wel {
    font-size: 24px;
    margin-top: 15px;
  }

  .desc {
    font-weight: bold;
    max-width: 90%;
    margin: 15px auto;
    padding: 0 10px;
  }

  .desc p {
    font-size: 14px;
    line-height: 1.6;
  }

  .try {
    margin-top: 20px;
  }

  .try p {
    color: #00004f;
    font-size: 16px;
    margin-bottom: 8px;
  }

  .try input {
    width: 80%;
  }

  .try button {
    font-size: 14px;
  }
  footer {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .wel {
    font-size: 26px;
  }

  .desc {
    max-width: 90%;
  }

  .desc p {
    font-size: 15px;
  }

  .try p {
    color: #00004f;
    font-size: 17px;
  }

  .try input {
    width: 60%;
  }

  .try button {
    font-size: 15px;
  }
}
